.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-container textarea {
    margin: 10px 0;
}

.form-container button {
    width: 100px;
}

.item {
    padding: 10px;
    border: solid 1px  transparent;
}

.item:hover {
    background-color: #eeeeee;
    border-color: #aaaaaa;
    cursor: pointer;
}

.item p {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}